html * {
    margin: 0;
    padding: 0;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
}
body {
    background-color: #f5e5fb;
    color: #2a042a;
}
.search-form {
    align-self: end;
}
input[name=search] {
    padding: 10px; 
    border: none;
}
button[type=submit] {
    padding: 10px; 
    border: none; 
    background-color: white;
}
table {
    margin: 30px auto 30px 0;
    width: 100%;
}
table.main-table th {
    border-top: 1px solid #998d99;
}
table.main-table th, table.main-table td {
    border-bottom: 1px solid #998d99;
    padding: 10px;
    text-align: left;
    width: 15%;
}
table.student-table {
    padding: 0 10px;
    text-align: left;
    width: auto;
}
table.student-table td {
    width: 100px;
}
table.student-table td:first-child {
    width: 150px;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
}
a.backend {
    padding: 8px 15px;
    border-radius: 3px;
    transition: all .2s ease-in-out;
}
a.backend-change:hover {
    background-color: #998d994f;
}
a.backend-update {
    background-color: #5caf3283;
}
a.backend-delete {
    background-color: #de494983;
}
a.backend-update:hover {
    background-color: #5caf32;
    text-decoration: none;
}
a.backend-delete:hover {
    background-color: #de4949;
    text-decoration: none;
}
.ok {
    color: #256e00;
    /* font-weight: bold; */
}
.bad {
    color: #dd2626;
    /* font-weight: bold; */
}
.pagination {
    width: 50%;
    display: flex;
}
.page a {
    padding: 10px 15px;
    margin-right: 15px;
    border-radius: 3px;
}
.page a.active {
    font-weight: bold;
    background-color: #998d994f;
}
/* page update */
form.update-info {
    width: 60%;
    margin: 50px auto;
}
div.input-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
div.input-div > label {
    margin-bottom: 10px;
}
form.update-info input {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    padding: 10px;
}
input.update-btn {
    padding: 8px 15px;
    border-radius: 3px;
    transition: all .2s ease-in-out;
    border: none;
    background-color: #5caf3283;
    margin-top: 10px;
}
input.update-btn:hover {
    cursor: pointer;
    background-color: #5caf32;
}